@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* con esto ya no nos preocupamos con cosas inesperadas */
html{
    box-sizing: border-box;
    /*1rem= 10px*/
    font-size: 62.5%;
}
*,*:before,*:after{
    /* usando el border box respeta
    el tamaño del width
    antes se usaba ahora ya no
    */
    /* box-sizing: border-box; */
    box-sizing: inherit;
}
body{
    font-family: "Raleway", sans-serif;
    /*agregamos font-size para que la base
    sea 1.6rem*/
    font-size: 1.6rem;
    font-optical-sizing: auto; 
    font-weight: 600;
    font-style: normal;
    /*espacio de una parrafo a otro*/
    line-height: 2;
}
h1,
h2,
h3{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 750;
    font-style: normal;
    /*todos los headers tienen margen*/
    margin:0 0 2rem 0;
}
h1{
    font-size: 4rem;
}
@media (min-width:768px) {
    h1{
        font-size: 5rem;
    }
}
h2{
    font-size: 3.2rem;
}
@media (min-width:768px) {
    h2{
        font-size: 4rem;
    }
}

h3{
    font-size: 2.4rem;
}
@media (min-width:768px) {
    h3{
        font-size: 3rem;
    }
}
/*Globales*/
a{
    text-decoration: none;
    color: #000;
}
.contenedor{
    max-width: 120rem;
    /* margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto; */
    margin:0 auto;

}

img{
    max-width: 100%;
    /*con esto solucionamos para que no haya ese margen
    elimina ese espacio
    */
    display: block;
}
.btn {
    background-color: #8cbc00;
    display: block;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition:background-color .3s ease-out;
    border: none;
    text-align: center;
    width: 100%;
    
}
/*aqui lo que hara es tomar lo justo su padding margin*/
@media (min-width:768px) {
    .btn{
        width: auto;
    }
    
}
/*recuerda que el input no se comporta igual que el etiqueta <a
asi que el otro si tomara el bloque pero el otro le tenemos que decir cuanto*/
.btn:hover{
    background-color: #769c02;
    cursor: pointer;
}
/*por que son cosas que se este reusando*/
/*utilidades*/
.text-center{
    text-align: center;
}
@media (min-width:768px) {
    .max-width-30{
        max-width: 30rem;
    }
    
}

/**Header y navegacion**/
.nombre-sitio{
    padding-top: 5rem;
    text-align: center;
}
.nombre-sitio span{
    color: #037bc0
}

/*nav principal*/

.contenedor-navegacion{
    border-top: 0.1rem solid  #e1e1e1;
    padding:2rem 0;
}
.nav-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width:768px) {
    .nav-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}
/* las imagenes muy grandes se les conoce hero*/
.hero{
    background-image: url(../Img/principal.jpg);
    /* no repitira la imagen*/
    background-repeat: no-repeat;
    /*va estirar la imagen*/
    background-size: cover;
    height:25rem;
}
@media (min-width:768px) {
    .hero{
        height:75rem;
    }
}
/**Box model**/

/* las diferencias en display inline y display block

los de block le podemos añadir que tamaño width y height puede tener */
.categorias{
    padding:4rem 0;
}
.categorias h2{
    text-align: center;
}
.categoria a{
    /*como es de elemento de linea
    entonces lo pasamos a bloque
    solo abarcara lo nesario para su contenido
    */
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}
.categoria img{
    width: 100%;
}
.categoria{
    margin-bottom: 2rem;
}
@media (min-width:768px) {
    .categoria{
        margin-bottom: 0;
    }
}
.categoria a:hover{
    background-color: #037bc0;
    color: white;
    border-end-end-radius: 1rem;
}

@media (min-width:768px) {
/*listado de categorias*/
.listado-categorias{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /*separacion en cada cuadro*/
    gap: 2rem;
    }
}

/*bloque sobre sobrenosotros*/
.sobre-nosotros{
    background-image: linear-gradient(to bottom,transparent 50%,#037bc0 50%),url(../Img/nosotros.jpg);
        /*color tamaño/tamaño imagen*/
    background-position: center,top left;
    background-repeat: no-repeat;
    /*recuerda que son dos backgrounds
    linear gradient y la imagen
    */
    background-size: 100%,70rem;
}
@media (min-width:768px) {
    .sobre-nosotros{
        background-image: linear-gradient(to right,transparent 50%,#037bc0 50%),url(../Img/nosotros.jpg);
        background-position: left center;
        padding: 10rem 0;
        background-size: 100%,160rem;
    }
}
.sobre-nosotros-grid{
    /* display: flex; */
    display:grid; 
    /* justify-content: flex-end; */
    /* padding-left: 15rem; */
    grid-template-rows: repeat(2,1fr);
}
@media (min-width:768px) {
    .sobre-nosotros-grid{
        grid-template-columns: repeat(2,1fr); 
        grid-template-rows: unset;
        gap: 10rem; 
    }
}
.nosotros-texto{
    /* flex-basis: 50%; */
    grid-row: 2/3; 
    color: white;
    padding: 5rem;
}
@media (min-width:768px) {
    .nosotros-texto{
        grid-row: unset; 
         grid-column: 2/3; 

    }
}
/**listado de productos**/

.contenido-principal{
    padding-top: 5rem;
}
@media (min-width:768px) {
    .listado-productos{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap:2rem;
    }
    .producto:nth-child(1){
        grid-column: 1/7;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    .producto:nth-child(1) img{
        height:43rem;
        min-height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .producto:nth-child(2){
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .producto:nth-child(2) img {
        height: 30rem;
        width: 100%;
        object-fit: cover;
    }
    
    .producto:nth-child(3){
        grid-column-start: 4;
        grid-column-end: 7;
    }
    .producto:nth-child(3) img {
        height: 30rem;
        width: 100%;
        object-fit: cover;
    }
    .producto:nth-child(4){
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .producto:nth-child(4) img {
        height: 30rem;
        width: 100%;
        object-fit: cover;
    }
    .producto:nth-child(5){
        grid-column-start: 3;
        grid-column-end: 5;
    }
    .producto:nth-child(5) img {
        height: 30rem;
        width: 100%;
        object-fit: cover;
    }
    .producto:nth-child(6){
        grid-column-start: 5;
        grid-column-end: 7;
    }
    .producto:nth-child(6) img {
        height: 30rem;
        width: 100%;
        object-fit: cover;
    } 
}

.producto{
    background-color: #037bc0;
    margin-bottom: 2rem;
}
@media (min-width:768px) {
    .producto{
        margin-bottom: 0;
    }

}
.producto:last-of-type{
    margin-bottom: 0;
}
.text-producto{
    text-align: center;   
    color: #FFFFFF;
    padding: 2rem;
}
.text-producto h3{
    margin: 0;
}
.text-producto p{
    margin: 0 0 .5rem 0;
}
.text-producto .precio{
    font-size: 3rem;
    font-weight: 900;
}

/*tomar en cuenta la escale si es 1 es %100*/


.site-footer{
    border-top: 0.1rem solid  #e1e1e1;
    margin-top: 5rem;
    padding-top: 5rem;
}
.site-footer h3{
    text-align: center;
}
@media (min-width:768px) {
    .site-footer h3{
        text-align: left;
    }
}

@media (min-width:768px) {
    .grid-footer {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
    }
}
.grid-footer >div{
    margin-bottom: 2rem;
}
@media (min-width:768px) {
    .grid-footer >div{
        margin-bottom: 0rem;
    }
}
.footer-menu a{
    display: block;
    text-align: center;
}
@media (min-width:768px) {
    .footer-menu a{
        text-align: left;
    }
}

.copyright{
    text-align: center;
    margin-top: 5rem;
}

/*nostros*/

.contenido-nosotros{
    display: grid;
    /* grid-template-columns: 1fr 2fr; */
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    column-gap: 4rem;
}

.informacion-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
}
@media (min-width:768px) {
    .informacion-nosotros{
        padding: 0;
    }
}
/*Blog*/
@media (min-width:768px) {
    .contenedor-blog{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
    
}
.entrada{
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
}
.entrada h2{
    text-align: center;
}
/*aqui ira de 0 a 767px va aplicar, y cuando es mas grande no aplicara*/
/* @media (max-width:767px) {
    .entrada h2{
        text-align: center;
    }
} */
 @media (min-width:768px) {
    .entrada h2{
        text-align: left;
    }
 }
.entrada:last-of-type{
    border-bottom: none;
}
@media (min-width:768px) {
    .entrada-meta{
        display: flex;
        justify-content: space-between;
    }
}
.contenido-blog{
    padding: 2rem;
}
@media (min-width:768px) {
    .contenido-blog{
        padding: 0;
    }
}
.entrada-meta p{
    font-weight: 700;
}
.entrada-meta span{
    color: #037bc0
}
.contenido-entrada-blog{
    width: 60rem;
    margin: 0 auto;
}
.galeria{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
@media (min-width:768px) {
    .galeria{
        grid-template-columns: repeat(3,1fr);
    }
}

.galeria img{
    height: 40rem;
    width: 40rem;
    object-fit: cover;

}
/*Formulario*/
.formulario{
    /* width: 80%; */
    max-width: 60rem;
    margin: 0 auto;
}
.formulario fieldset{
    border:1px solid black;
    margin-bottom: 2rem;
}
.formulario legend{
    background-color: #005185;
    width: 100%;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 900;
    padding:1rem;
    margin-bottom: 4rem;
}
.campo{
    display: flex;
    margin-bottom: 2rem;
}
.campo label{
    /*basis lo que hago
    por default darle una base
    */
    flex-basis: 10rem;
}
/*haz cambios en todos menos en radio*/
.campo input:not([type="radio"]),
.campo textarea,
.campo select{
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}
